body {
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff6cd;
}

h1.title {
    text-align : center;
    margin-top : 100px;
    margin-bottom : 200px;
    font-size: 72px;
}

h2.title {
    text-align : center;
    margin-top : 100px;
    margin-bottom : 100px;
    font-size: 48px;
}

.title {
    margin-top : 60vh;
}

.btn-outline-light {
    color : #fff6cd;
}

.btn-light {
    background-color : #ee2034;
    color : #fff6cd;
    border-color : #fff6cd;
}

.container.instruksi {
    margin-top : 100px;
}

.col-md-6.text-section {
    text-align: justify;
}

.row.instruksi {
    margin-top: 35px;
    margin-bottom: 35px;
}

.custom-dropdown {
    background-color: #ee2034;
    color: #fff6cd;
    width: 50px;
    height: 35px;
    font-size: 1.5rem;
}

ul.pemain-list {
    list-style-type: none;
}

.container.box-content {
    margin-top : 100px;
    color: #f7be15;
    background-color : rgba(51,32,51,0.90);
    padding: 25px;
}