<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout :: site-head"></head>
<body>
<div class="container box-content">
<div class="container instruksi" style="text-align: center">
    <h1>Permainan telah selesai!</h1>
    <h3>Skor akhir anda</h3>
    <h4 th:text="${hasil}"></h4><br>
    <p>Selamat bertemu di permainan berikutnya!</p>
    <button onclick="location.href='/'" class="btn btn-light btn-lg">Selesai</button>
</div>
</div>
</body>
</html>