<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout :: site-head"></head>
<body>
<div class="container box-content">
<div class="container instruksi" style="text-align: center">
    <div class="container instruksi" style="text-align: center">
        <h1 th:text="'Periode #'+${periode}"></h1>
        <p th:text="'Player : ' + ${nama}"></p>
        <p>Kamu telah mengakhiri giliranmu</p>
        <p>Silahkan menunggu hingga pemain lain mengakhiri gilirannya</p>
    </div>
</div>
</div>
<script src="/js/getrequest.js"></script>
<script src="/js/deleterequest.js"></script>
<script>
    setInterval(function () {
        getCekMulaiDemand()
    },5000)
</script>
</body>
</html>