<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
    <head th:replace="layout :: site-head"></head>
    <div class="container box-content">
    <body>
        <div class="container instruksi" style="text-align: center">
            <p th:text="${nama} + ', silahkan menunggu pemain yang lain &#9786;'"></p>
        </div>
    </body>
    </div>
    <script src="/js/getrequest.js"></script>
    <script>
        setInterval(function () {
            getCekMulai()
        }, 5000);
    </script>
</html>