<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
    <head th:replace="layout :: site-head"></head>
    <body>
    <div class="container box-content">
    <div class="container instruksi" style="text-align: center">
            <p th:text="${nama} + ', sudah masuk!'"></p>
            <p>Anda urutan ke:</p>
            <h1 th:text="${urutan}"></h1>
        </div>
    </div>
        <script src="/js/getrequest.js"></script>
        <script>
            setInterval(function () {
                getMulaiDemand()
            }, 5000);
        </script>
    </body>
</html>