<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout :: site-head"></head>
<body>
<div class="container box-content">
<div class="container instruksi" style="text-align: center">
    <div class="container instruksi" style="text-align: center">
        <h1 th:text="'Periode #'+${periode}"></h1>
        <p th:text="'Player : ' + ${nama}"></p>
        <p>Silahkan input profit anda</p>
        <form id="formInputProfit" method="post">
            <input type="text" id="profit" name="profit">
            <input type="hidden" id="nama-profit" name="nama" th:value="${nama}">
            <input class="btn btn-light btn-lg" type="submit">
        </form>
    </div>
</div>
</div>
<script src="/js/postrequest.js"></script>
<script>
    $("#formInputProfit").submit(function(event) {
        event.preventDefault();
        ajaxPostProfit();
    })
</script>
</body>
</html>