<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout :: site-head"></head>
<body>
<div class="container box-content">
<div class="container instruksi" style="text-align: center">
    <h1 th:text="'Periode #'+${periode}"></h1>
    <p th:text="'Player : ' + ${nama}"></p>
    <p>Tekan tombol di bawah untuk mengakhiri gilirian di periode ini</p>
    <button id="selesai-giliran" class="btn btn-light btn-lg">Selesai</button>
</div>
</div>
<script src="/js/postrequest.js"></script>
<script>
    $("#selesai-giliran").click(function (event) {
        event.preventDefault();
        endTurn();
    })
</script>
</body>
</html>