<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout :: site-head"></head>
<body>
<div class="container box-content">
<div class="container instruksi" style="text-align: center">
    <h1 th:text="'Periode #'+${periode}+' telah selesai!'"></h1>
    <h3>Silahkan masukkan skor kalian untuk memulai periode berikutnya!</h3>
    <p>Tekan tombol di bawah jika kalian sudah memberi input</p>
    <button id="button-next-periode" class="btn btn-light btn-lg">Lanjut</button>
</div>
</div>
<script src="/js/postrequest.js"></script>
<script src="/js/getrequest.js"></script>
<script src="/js/deleterequest.js"></script>
<script>
    $(document).ready(function () {
        ajaxPostMulaiMain();
    })
    $("#button-next-periode").click(function(event) {
        event.preventDefault();
        deleteMasukDemand();
        nextPeriodeDemand();
    })
</script>
</body>
</html>