<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
    <head th:replace="layout :: site-head"></head>
    <body>
    <div class="container box-content">
    <div class="container instruksi" style="text-align: center">
            <h1>Sukses masuk ke dalam permainan</h1>
        </div>
        <div class="container">
            <p>Daftar pemain yang tergabung:</p>
            <ul>
                <li th:each="kumpulanPemain : ${kumpulanPemain}"
                    th:text="${kumpulanPemain}"></li>
            </ul>
        </div>
        <div style="text-align: center">
            <button onclick="location.href='/permainan/mulai/demand'"
                    class="btn btn-light btn-lg">Klik di sini untuk memulai permainan</button>
        </div>
    </div>
    </body>
    <script src="/js/postrequest.js"></script>
    <script>
        $(document).ready(function() {
            ajaxPostMulaiMain();
        });
    </script>
</html>