<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout :: site-head"></head>
<body>
<div class="container box-content">
<div class="container instruksi" style="text-align: center">
    <h1 th:text="'Periode #'+${periode}"></h1>
</div>
<div class="container">
    <h3>Diberikan sebuah demand di sini dimana:</h3>
    <ul>
        <li>Perintah 1</li>
        <li>Perintah 2</li>
        <li>Perintah n</li>
    </ul>
    <div>
        <p id="pemain-selesai-p"></p>
    </div>
    <div class="row" style="text-align: center; margin: 20px 0px 0px 0px">
        <div class="col-md-6">
            <img th:src="${chanceCard}" align="middle">
        </div>
        <div class="col-md-6">
            <img th:src="${riskCard}" align="middle">
        </div>
    </div>
</div>
</div>
</body>
<script src="/js/getrequest.js"></script>
<script src="/js/deleterequest.js"></script>
<script>
    $(document).ready(function() {
        deleteMasukDemand();
    });
    setInterval(function () {
        ajaxGetDemand()
        checkPemainDemand()
    }, 5000);
</script>
</html>