<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="layout :: site-head"></head>
<body>
<div class="container box-content">
<div class="container instruksi" style="text-align: center">
    <h1>Permainan telah selesai!</h1>
    <h3>Berikut perolehan skornya</h3>
    <div>
        <ul class="list-group pemain-list">
            <li th:each="kumpulanHasil : ${kumpulanHasil}"
                th:text="${kumpulanHasil}"></li>
        </ul>
    </div>
    <p>Selamat bertemu di permainan berikutnya!</p>
    <button id="selesai" class="btn btn-light btn-lg">Selesai</button>
</div>
</div>
<script src="/js/deleterequest.js"></script>
<script>
    $("#selesai").click(function (event) {
        event.preventDefault();
        restartGame();
    });
</script>
</body>
</html>