<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
    <head th:replace="layout :: site-head"></head>
    <body>
    <div class="container box-content">
    <div class="container instruksi" style="text-align: center">
            <h1>Harap Tunggu</h1>
            <p th:text="${angka} + ' orang yang akan bermain'"></p>
            <div>
                <div id="getPemainDiv" style="margin: 20px 0px 20px 0px;">
                    <ul class="list-group pemain-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <script src="js/getrequest.js"></script>
        <script src="js/deleterequest.js"></script>
        <script>
            setInterval(function () {
                ajaxGetPemain()
                check()
            }, 5000);
        </script>
    </body>
</html>